.containerSection{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentSection{
    max-width: 500px;
    width: 90%;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 20px;
    border-radius: 10px;
}

.insertImage{
    width: 90%;
    background: #F8F8F8;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
